<header><pre class="wide">
    )))/     _                  . .   .  .  __.__._     .---.    .--\b_d/-.  . .                         .-.___        ...,     __.__._     .           (_(____            _____    
   [9__9]     `.-d-b   .====.   |_|   |_/  /-\ . . \  .'#o  o`.  |_\_._._/_|  \_\    .====.  `-.-O-O       |  =|      [6__6]   /o\ _ _ \    |-p-q      /'_'\ +.\          /     \   
   / /\ \     /\__=]  |\.==._\ [o_o] [o_o] \_/__-__/ /___|__|__\ |_| | | |_| [o_o]  |\.==._\  /\__-)       |_-/       /_/\_\   \_/__o__/   /\__~]      `---'. ||        /| :===: |\ 
  /_/  \_\   |-(__    |_|  ( )  |:|   |:|  /_\___/_\ |  ...    | [ ] | | [ ]  |:|   |_|  ( ) |=(__         |::\      /_/  \_\  /_\   /_\  |_(__          ___| n|        || |n n| || 
 |\|====|/|  `./_/:.  |99      /|7|\ /|8|\ \_/__)_)/ | _,_  [] |     |=|     /|9|\  |99       `./_/`.      |/\|     |_|====|_| \_/====)/  `./_/`.      .:_\:::.'   .    \| | = | |/ 
 |/|    |\|      )-|  |#|   _   |=|   |=|  /_\   /_\ |._______.|     |_|      |=|   |#|   _       )=|      ||||     |_|    |_| /o\   /_\      )_|      |::|        |__   o :===: o  
 |=|    |=| |._.'\ /  |_|__/ |  |_|   |_|  |_|___|_| \'o------'/     |_|      |_|   |_|__/ | |._.'\ /      ||||__/| |_|    |_| |_|___|_| |._.'\ /      |:::__,o\ >(-_-)c |_______|  
./_\..../_\.|__|:-'.../oooooo\./|.|\./|.|\./,,,,,,,/..`._____:'...../___\..../|.|\../oooooo\.|_||.-'.......|/)__|_|./_\..../_\./,,,,,,,/.|_|_\.'........\_/::\__\.q---p..|_|_|_|_|..</pre>
<pre class="tall">
    )))/     _                  . .   .  .  __.__._     .---.    .--\b_d/-.  . .                      
   [9__9]     `.-d-b   .====.   |_|   |_/  /-\ . . \  .'#o  o`.  |_\_._._/_|  \_\    .====.  `-.-O-O  
   / /\ \     /\__=]  |\.==._\ [o_o] [o_o] \_/__-__/ /___|__|__\ |_| | | |_| [o_o]  |\.==._\  /\__-)  
  /_/  \_\   |-(__    |_|  ( )  |:|   |:|  /_\___/_\ |  ...    | [ ] | | [ ]  |:|   |_|  ( ) |=(__    
 |\|====|/|  `./_/:.  |99      /|7|\ /|8|\ \_/__)_)/ | _,_  [] |     |=|     /|9|\  |99       `./_/`. 
 |/|    |\|      )-|  |#|   _   |=|   |=|  /_\   /_\ |._______.|     |_|      |=|   |#|   _       )=| 
 |=|    |=| |._.'\ /  |_|__/ |  |_|   |_|  |_|___|_| \'o------'/     |_|      |_|   |_|__/ | |._.'\ / 
./_\..../_\.|__|:-'.../oooooo\./|.|\./|.|\./,,,,,,,/..`._____:'...../___\..../|.|\../oooooo\.|_||.-'..

 .-.___        ...,     __.__._     .           (_(____            _____    
   |  =|      [6__6]   /o\ _ _ \    |-p-q      /'_'\ +.\          /     \   
   |_-/       /_/\_\   \_/__o__/   /\__~]      `---'. ||        /| :===: |\ 
   |::\      /_/  \_\  /_\   /_\  |_(__          ___| n|        || |n n| || 
   |/\|     |_|====|_| \_/====)/  `./_/`.      .:_\:::.'   .    \| | = | |/ 
   ||||     |_|    |_| /o\   /_\      )_|      |::|        |__   o :===: o  
   ||||__/| |_|    |_| |_|___|_| |._.'\ /      |:::__,o\ >(-_-)c |_______|  
...|/)__|_|./_\..../_\./,,,,,,,/.|_|_\.'........\_/::\__\.q---p..|_|_|_|_|..</pre>
<pre class="small">
ASCIIBOTICS LABS 2.0</pre>
</header>
<button type="button" data-action="toggle-mode" class="extra"></button>
<nav class="shortcutmenu menu"><ul>
<li><a href="#menu">MENU</a></li>
</ul></nav>
<nav class="mainmenu menu"><ul>
<li><a href="/" name="menu">HOME</a></li>
<li><a href="/databank">DATABANK</a></li>
<li><a href="#" class="extra" data-action="random-bot">RANDOM</a></li>
<li><a href="/feeds">FEEDS</a></li>
<li><a href="/projects">PROJECTS</a></li>
<li><a href="https://twitter.com/asciibotics">@asciibotics</a></li>
</ul></nav>
