---
layout: default
---
{% assign bots = site.bots | sort: id %}
<div class="listbox">
  <h2>Main Production Line</h2>
  <ul>
  {% for bot in bots %}
    {% if bot.name > '000' and bot.name <= '999' %}
        <li><a href="{{bot.url}}">Model #{{ bot.name | upcase }} - {{ bot.nickname }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="listbox">
  <h2>Advent 2014</h2>
  <ul>
  {% for bot in bots %}
    {% if bot.name > 'ad000' and bot.name <= 'ad025' %}
        <li><a href="{{bot.url}}">Model #{{ bot.name | upcase }} - {{ bot.nickname }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="listbox">
  <h2>Advent 2015</h2>
  <ul>
  {% for bot in bots %}
    {% if bot.name > 'ad100' and bot.name <= 'ad125' %}
        <li><a href="{{bot.url}}">Model #{{ bot.name | upcase }} - {{ bot.nickname }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="listbox">
  <h2>Advent 2016</h2>
  <ul>
  {% for bot in bots %}
    {% if bot.name > 'ad200' and bot.name <= 'ad225' %}
        <li><a href="{{bot.url}}">Model #{{ bot.name | upcase }} - {{ bot.nickname }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="listbox">
  <h2>Advent 2017</h2>
  <ul>
  {% for bot in bots %}
    {% if bot.name > 'ad300' and bot.name <= 'ad325' %}
        <li><a href="{{bot.url}}">Model #{{ bot.name | upcase }} - {{ bot.nickname }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="listbox">
  <h2>Minibot Precursors</h2>
  <ul>
  {% for bot in bots %}
    {% if bot.name >= 'mrf-000' and bot.name <= 'mrf-fff' %}
        <li><a href="{{bot.url}}">Model #{{ bot.name | upcase }} - {{ bot.nickname }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="listbox">
  <h2>Logobots</h2>
  <ul>
  {% for bot in bots %}
    {% if bot.name >= 'lgo-' and bot.name <= 'lgo-z' %}
        <li><a href="{{bot.url}}">Model #{{ bot.name | upcase }} - {{ bot.nickname }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>